/*body {
    font-family: Arial, sans-serif;
    text-align: center;
  }*/
  *
  {
   padding: 0;
   margin: 0;
   
  }
  body{
 
   background-image: url('img1.jpg');
 /* background-repeat: no-repeat;
    background-size:2050px, 800px;*/
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
  /*  height: 100vh;
    display: center;
    justify-content: center;
    align-items: center;*/
    }
  
    
  
  .menu-bar{
   
    text-align: center;
   
  }
  
 .containt {
  
   text-align: center;
   margin-left: 40px;
 }
 
  .h2
  {
    margin-top: 100px ;
    text-align: center;
  }

  .h3
  {
    margin-top: 100px ;
    text-align: center;
  }

 
 .glow-text {
      text-shadow: 0 0 5px #47bbdc, 0 0 10px #47bbdc, 0 0 15px #47bbdc;
}

button {
  background: #63E7EC;
  padding: 20px 30px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border:  #53CED3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
 padding: 10px;
  
 

}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #61cfdb;
}

.button1:hover {
  background-color: #67d2d5;
  color: white;
}

.glow-text {
  text-shadow: 0 0 5px #47bbdc, 0 0 10px #47bbdc, 0 0 15px #47bbdc;
}


.glow-text1 {
text-shadow: 0 0 5px #56a5e2, 0 0 10px #56a5e2 , 0 0 15px #56a5e2;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  height: 50px;
  width: 70%;
  text-align: center;
  
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

.h3{
  text-align: center;
  color: red;
}
.text {
  text-align: center;
  margin-left: 40px;
}
.navbar {
  background-color: #1c6ca1;
  overflow: hidden;
 }
 .navbar a {
  float: left;
  display: block;
  color: blanchedalmond;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  margin-left: 300px;
  font-size: 24px;
 }
 .navbar a:hover{
  background-color: #ddd;
  color: black;
 }